			<ol>
			<% influences.each do |influence| %>
				<li>
					<img src="<%= influence.user.avatar %>" alt="Avatar"/>
					<%= (link_to influence.user.name, user_path(influence.user)) unless influence.user.nil? %>
					<span class="influence"> <%= format("%.2f", (influence.velocity*100)) %></span> 	 			
				</li>
			<% end %>
			</ol>