			<ol>
			<% influences.each do |influence| %>
				<li>
					<img src="assets/<%= arrow %>" alt="Flecha con sentido <%= arrow %>"/>
					<img src="<%= influence.user.avatar %>" alt="Avatar"/>
					<%= (link_to influence.user.name, user_path(influence.user)) unless influence.user.nil? %> 
				</li>
			<% end %>
			</ol>