
		<div class="columns2 col1">
			<h2>Usuarios más influyentes</h2>
<%= render :partial => "listing_top_Influence", :locals => {:influences => @top_influences} %>
		</div>
		<div class="columns2 col2">
			<h2>Usuarios con mayor variación de influyencia</h2>
			<div class="columns2">
<%= render :partial => "listing_acceleration", :locals => {:influences => @top_accelerations, :arrow => "up_arrow.png"} %>
			</div>
			<div class="columns2">
<%= render :partial => "listing_acceleration", :locals => {:influences => @worst_accelerations, :arrow => "down_arrow.png"} %>
			</div>
		</div>