/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {background-color: #808080; margin: 0; font-family: Helvetica,Arial,sans-serif; font-size: 0.9em;} 
#main {width: 80%; 
		margin:auto; 
		background-color: white; 
		padding: 2% 5%;
		margin-bottom: 0%;
		padding-bottom: 0%;
	}
.momentum {font-size: 1.5em; color: #006699; text-align: right; padding-right: 10%;}
.momentum p {margin-top: 0%;}
h1{
	padding-left: 10%;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0%;
    float: left;
}
h1 a {color: #006699!important;}
.search{float: right;
    margin-top: 30px;
    padding: 15px; padding-right: 0%;}
fieldset {border: none; margin-right: 0%; padding-right: 0%;}
input {width: 10em;}
img {vertical-align: middle;}
.influence {color: #008000;
    font-size: 2.2em;
    font-weight: bold;}
img.center {display: block; margin: auto;}
.detail {font-size: 1.2em;}
.detail p {text-align: center;}
.green {color: #008000;}
.red {color: red;}
.bold{font-weight: bold;}
.profile{width: 25%; float: left; text-align: right;}
.desc {clear:both; width:100%; text-align: left!important; padding-left: 3%;}
.mention {width:60%; text-align: left!important;}
.noFloat {clear: both;}
.fright{float: right;}
.fleft{float: left;}
.information {color: red;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;}
#foot {clear:both;
	padding-top: 3%;
    padding-top: 3%;
    text-align: center;
}
#foot p {border-top: thin dotted #909090;
    margin-bottom: 0;
    padding-top: 20px;}
.date {text-align: right;}

