
.columnas2 {padding-right: 0;
    width: 50%; float:left;}
.columnas2 h2 {text-align:center;}   
.col1 {width: 38%; margin-right:2%;}
.col2 img {height:48px; }
.col2{width: 57%; margin-left:3%;}
h2 {color: #006699; border-bottom: medium solid #F07746}
.acc_neg {clear:both;}
.acc_neg ol li {width: 30%; float:left;}
ol li {padding: 0.5% 0.01%;}