
.columnas2 {padding-right: 5%; width: 45%; float:left;}
h2 {color: #006699; border-bottom: medium solid #F07746}
.acc_neg {clear:both;}
.acc_neg ol li {width: 30%; float:left;}
ol li {padding: 0.5% 0.01%;}